body {
  font-family: "Coustard", serif;
  font-family: "Press Start 2P";
}

.content{
  height: 100%;
  background-image: url(../staff/1616590278_49-p-chernii-fon-kosmos-57.jpg);
  background-size: cover;
 position: fixed;
  
}
.fade {
  position: relative;
  width: 100%;
  top: -25px;
  z-index: 1;
}

.epis {
  font-family: "Press Start 2P";
}

.star{
  width: 1300px;
  margin-bottom: 90px;
}

.dart{
  
  height: 300px

}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: "Coustard", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 200px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 100% 100%;
  animation: crawl 30s linear;
  animation-iteration-count: infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(25deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
